[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
wheel = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
build = "python setup.py sdist bdist_wheel"
upload = "twine upload dist/*"
test = "python -m unittest -vvvv"
